a:link {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}

header {
  width: auto;
  height: calc(100vw * 0.4236111111);
  /* height: 610px; */
  padding: 0 calc(100vw * 0.05555555556) 0 calc(100vw * 0.05555555556);
  /* padding: 0 80px 0 80px; */
  background: url(../img/SVG/listOFskills/los_bg1.svg) 0 0/100% auto no-repeat,
    url(../img/SVG/listOFskills/los_bg2.svg) 0 0/100% auto no-repeat;
  display: flex;
}

.los_photo {
  width: calc(100vw * 0.3090277778);
  /* width: 445px; */
  height: calc(100vw * 0.3333333333);
  /* height: 480px; */
  margin: calc(100vw * 0.02777777778) 0 0 0;
  /* margin: 40px 0 0 0; */
  background-image: url(/img/Portraits/viktoria_kabachenko.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.los_headerRIGHTblock {
  width: calc(100vw * 0.5631944444);
  /* width: 811px; */
  margin: calc(100vw * 0.02777777778) 0 0 0;
  /* margin: 40px 0 0 0; */
  padding: 0 0 0 calc(100vw * 0.01666666667);
  /* padding: 0 0 0 24px; */
}

.los_h1 {
  color: #fff;
  font-family: Thunder;
  font-size: calc(0px + 70 * (100vw / 1440));
  font-style: normal;
  font-weight: 700;
  line-height: calc(0px + 90 * (100vw / 1440));
  letter-spacing: calc(0px + 1.4 * (100vw / 1440));
}

.los_h2 {
  margin: calc(100vw * 0.006944444444) 0 0 0;
  /* margin: 10px 0 0 0; */
  color: #9df850;
  font-family: Thunder;
  font-size: calc(0px + 50 * (100vw / 1440));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.los_numberOFprojects {
  margin: calc(100vw * 0.01388888889) 0 0 0;
  /* margin: 20px 0 0 0; */
  color: #fff;
  font-family: Montserrat;
  font-size: calc(0px + 30 * (100vw / 1440));
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.los_areasOFexhtrtise {
  margin: calc(100vw * 0.01388888889) 0 0 0;
  /* margin: 20px 0 0 0; */
  color: #fff;
  font-family: Montserrat;
  font-size: calc(0px + 24 * (100vw / 1440));
  font-style: normal;
  font-weight: 400;
  line-height: calc(0px + 40 * (100vw / 1440));
}

span {
  color: #9df850;
  font-family: Montserrat;
  font-size: calc(0px + 24 * (100vw / 1440));
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.los_button_download {
  width: calc(100vw * 0.1486111111);
  /* width: 214px; */
  height: calc(100vw * 0.03402777778);
  /* height: 49px; */
  margin: calc(100vw * 0.02083333333) 0 0 0;
  /* margin: 30px 0 0 0; */
  padding: calc(100vw * 0.006944444444) calc(100vw * 0.02083333333) 0
    calc(100vw * 0.02083333333);
  /* padding: 10px 30px 0 30px; */
  border: none;
  border-radius: calc(100vw * 0.03472222222);
  /* border-radius: 50px; */
  background: #9df850;
  color: #1f1f1f;
  font-family: Thunder;
  font-size: calc(0px + 28 * (100vw / 1440));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: calc(0px + 0.56 * (100vw / 1440));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.los_button_download img {
  width: calc(100vw * 0.02222222222);
  /* width: 32px; */
  height: calc(100vw * 0.01944444444);
  /* height: 28px; */
  padding: 0 0 calc(100vw * 0.006944444444) 0;
  /* padding: 0 0 10px 0; */
}
