a:link {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}

header {
  width: auto;
  height: calc(100vw * 0.4236111111);
  /* height: 610px; */
  padding: 0 calc(100vw * 0.05555555556) 0 calc(100vw * 0.05555555556);
  /* padding: 0 80px 0 80px; */
  background: url(../img/SVG/listOFskills/los_bg1.svg) 0 0/100% auto no-repeat,
    url(../img/SVG/listOFskills/los_bg2.svg) 0 0/100% auto no-repeat;
  display: flex;
}

.los_photo {
  width: calc(100vw * 0.3090277778);
  /* width: 445px; */
  height: calc(100vw * 0.3333333333);
  /* height: 480px; */
  margin: calc(100vw * 0.02777777778) 0 0 0;
  /* margin: 40px 0 0 0; */
 }

 .los_photo img {
  width: calc(100vw * 0.3090277778);
  /* width: 445px; */
  height: calc(100vw * 0.3333333333);
  /* height: 480px; */
 }

.los_headerRIGHTblock {
  width: calc(100vw * 0.5631944444);
  /* width: 811px; */
  margin: calc(100vw * 0.02777777778) 0 0 0;
  /* margin: 40px 0 0 0; */
  padding: 0 0 0 calc(100vw * 0.01666666667);
  /* padding: 0 0 0 24px; */
}

.los_h1 {
  color: #fff;
  font-family: Thunder;
  font-size: calc(0px + 70 * (100vw / 1440));
  font-style: normal;
  font-weight: 700;
  line-height: calc(0px + 90 * (100vw / 1440));
  letter-spacing: calc(0px + 1.4 * (100vw / 1440));
}

.los_h2 {
  margin: calc(100vw * 0.006944444444) 0 0 0;
  /* margin: 10px 0 0 0; */
  color: #9df850;
  font-family: Thunder;
  font-size: calc(0px + 50 * (100vw / 1440));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.los_numberOFprojects {
  margin: calc(100vw * 0.01388888889) 0 0 0;
  /* margin: 20px 0 0 0; */
  color: #fff;
  font-family: Montserrat;
  font-size: calc(0px + 30 * (100vw / 1440));
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.los_areasOFexhtrtise {
  margin: calc(100vw * 0.01388888889) 0 0 0;
  /* margin: 20px 0 0 0; */
  color: #fff;
  font-family: Montserrat;
  font-size: calc(0px + 24 * (100vw / 1440));
  font-style: normal;
  font-weight: 400;
  line-height: calc(0px + 40 * (100vw / 1440));
}

span {
  color: #9df850;
  font-family: Montserrat;
  font-size: calc(0px + 24 * (100vw / 1440));
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.los_button_download {
  width: calc(100vw * 0.1486111111);
  /* width: 214px; */
  height: calc(100vw * 0.03402777778);
  /* height: 49px; */
  margin: calc(100vw * 0.02083333333) 0 0 0;
  /* margin: 30px 0 0 0; */
  padding: calc(100vw * 0.006944444444) calc(100vw * 0.02083333333) 0
    calc(100vw * 0.02083333333);
  /* padding: 10px 30px 0 30px; */
  border: none;
  border-radius: calc(100vw * 0.03472222222);
  /* border-radius: 50px; */
  background: #9df850;
  color: #1f1f1f;
  font-family: Thunder;
  font-size: calc(0px + 28 * (100vw / 1440));
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: calc(0px + 0.56 * (100vw / 1440));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.los_button_download img {
  width: calc(100vw * 0.02222222222);
  /* width: 32px; */
  height: calc(100vw * 0.01944444444);
  /* height: 28px; */
  padding: 0 0 calc(100vw * 0.006944444444) 0;
  /* padding: 0 0 10px 0; */
}

.los_listOFskills_wrap {
  /* width: calc(100vw * 0.1486111111); */
  /* width: 214px; */
  /* height: calc(100vw * 0.03402777778); */
  /* height: 49px; */
  margin: calc(100vw * 0.04097222222) 0 0 0;
  /* margin: 59px 0 0 0; */
  padding: 0 calc(100vw * 0.05555555556) 0 calc(100vw * 0.05555555556);
  /* padding: 0 80px 0 80px; */
  display: flex;
  justify-content: space-between;
  /* gap: calc(100vw * 0.02083333333); */
  /* gap: 30px; */
  position: relative;
}

.los_listOFskills {
  position: absolute;
  top: calc(100vw * -0.07291666667);
  /* top: -105px; */
  left: calc(100vw * 0.05555555556);
  /* left: 80px; */
  font-family: Thunder;
  font-size: calc(0px + 70 * (100vw / 1440));
  font-style: normal;
  font-weight: 700;
  line-height: calc(0px + 90 * (100vw / 1440));
  letter-spacing: calc(0px + 1.4 * (100vw / 1440));
  background: linear-gradient(
    45deg,
    #161616,
    #260046,
    #2a004e,
    #500092,
    #3a006a,
    #2a004e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.los_listOFskills_leftSMALLwrap {
  /* width: calc(100vw * 0.1486111111); */
  /* width: 214px; */
  /* height: calc(100vw *	0.03125	); */
  /* height: 45px; */
  /* margin: calc(100vw * 0.04097222222) 0 0 0; */
  /* margin: 59px 0 0 0; */
  padding: 0 0 0 0;
  /* padding: 0 0 0 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(100vw * 0.02083333333);
  /* gap: 30px; */
}

.los_listOFskills_rightSMALLwrap {
  /* width: calc(100vw * 0.1486111111); */
  /* width: 214px; */
  /* height: calc(100vw *	0.03125	); */
  /* height: 45px; */
  /* margin: calc(100vw * 0.04097222222) 0 0 0; */
  /* margin: 59px 0 0 0; */
  padding: 0 0 0 0;
  /* padding: 0 0 0 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(100vw * 0.02083333333);
  /* gap: 30px; */
}

.list_skill_wrap {
  height: calc(100vw * 0.03125);
  /* height: 45px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.los_nameOFskill {
  color: #1f1f1f;
  text-align: right;
  font-family: Thunder;
  font-size: calc(0px + 38 * (100vw / 1440));
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: calc(0px + 0.76 * (100vw / 1440));
}

.los_blockWHITHstars {
  width: calc(100vw * 0.2361111111);
  /* width: 340px; */
  height: calc(100vw * 0.02638888889);
  /* height: 38px; */
  /* margin: calc(100vw * 0.04097222222) 0 0 0; */
  /* margin: 59px 0 0 0; */
  padding: 0 calc(100vw * 0.006944444444) 0
    calc(100vw * 0.006944444444);
  /* padding: 0 10px 0 10px; */
  border-radius: 40px;
  box-shadow: 0px 0px 26px 0px rgba(0, 144, 55, 0.14);
  background: linear-gradient(90deg, #f6ff92 0%, #c5ff94 100%);
  background-repeat: no-repeat;
  background-size: auto;
}

.los_blockWHITHstars img {
  width: calc(100vw * 0.2361111111);
  /* width: 340px; */
  height: calc(100vw * 0.02638888889);
  /* height: 38px; */
  /* margin: calc(100vw * 0.04097222222) 0 0 0; */
  /* margin: 59px 0 0 0; */
  /* padding: 0 calc(100vw * 0.006944444444) 0 calc(100vw * 0.006944444444); */
  /* padding: 0 10px 0 10px; */
}

.los_icon {
  width: calc(100vw * 0.02361111111);
  /* width: 34px; */
  height: calc(100vw * 0.02361111111);
  /* height: 34px; */
  margin: 0 calc(100vw * 0.002777777778) 0 calc(100vw * 0.01111111111);
  /* margin: 0 4px 0 16px; */
  /* padding: 0 calc(100vw * 0.006944444444) 0 calc(100vw * 0.006944444444); */
  /* padding: 0 10px 0 10px; */
  /* background: url(../img/SVG/listOFskills/Line_1.svg) 0 0/100% auto no-repeat; */
}

.los_cloud_wrap {
  width: calc(100vw *	0.5555555556	);
  /* width: 800px; */
  height: calc(100vw *	0.4694444444	);
  /* height: 676px; */
  margin: calc(100vw *	0.03472222222	) auto 0 auto;
  /* margin: 50px auto 0 auto; */
  /* padding: 0 calc(100vw * 0.006944444444) 0 calc(100vw * 0.006944444444); */
  /* padding: 0 10px 0 10px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.los_cloud_wrap img {
  display: flex;
  width: calc(100vw *	0.5555555556	);
  /* width: 800px; */
  height: calc(100vw *	0.4694444444	);
  /* height: 676px; */
}