@charset "UTF-8";
a:link {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.header_wrap {
  padding-left: 5.555555556vw;
  padding-right: 5.555555556vw;
  height: 5.5555555556vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 13.2638888889vw;
  height: auto;
  display: flex;
  background-image: url(../img/SVG/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  flex-shrink: 0;
}

.mainmenu {
  height: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: calc(0px + 1.3888888889vw);
  line-height: calc(0px + 1.3888888889vw);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2222222222vw;
}

.social {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.1111111111vw;
}

.social_ico {
  width: 1.6666666667vw;
  height: 1.6666666667vw;
}

h1 {
  padding-left: 1.5555555556vw;
  padding-top: 11.1111111111vw;
  font-family: "Thunder";
  font-style: normal;
  font-weight: 800;
  line-height: 13.1944444444vw;
  font-size: calc(0px + 11.1111111111vw);
  color: #ffffff;
}

h2 {
  position: absolute;
  top: 57.0138888889vw;
  left: 33.6805555556vw;
  font-size: calc(0px + 9.0277777778vw);
  font-family: Thunder;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: linear-gradient(101.39deg, rgb(22, 22, 22) 0%, rgb(38, 0, 70) 10.855409503%, rgb(42, 0, 78) 24.1049766541%, rgb(80, 0, 146) 41.9085681438%, rgb(58, 0, 106) 70.6394255161%, rgb(42, 0, 78) 88.5698199272%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.highlight {
  color: #161616;
  background-image: url("../img/SVG/digitalHeroes_bg.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: 53.9583333333vw 12.5vw;
  background-position: auto;
  line-height: 13.4722222222vw;
}

.wrap {
  margin-top: -5.5555555556vw;
  height: 66.6666666667vw;
  width: auto;
  background: url(../img/SVG/underhedder_bg1.svg) 0 0/100% auto no-repeat, url(../img/SVG/underhedder_bg2.svg) 0 0/100% auto no-repeat;
}

.specialists_wrap {
  margin-top: 10.1666666667vw;
  width: 100%;
  height: 8.8194444444vw;
  /* display: flex; */
}

.specialists_menu {
  width: auto;
  height: 8.8194444444vw;
  background: url(../img/SVG/specialist_menu_bg1.svg) 0 0/100% auto no-repeat, url(../img/SVG/specialist_menu_bg2.svg) 0 0/100% auto no-repeat;
  display: flex;
}

.specialists_menu_ol {
  padding-left: 7.1527777778vw;
  /* padding-right: calc(100vw * 0.0486111111111111); */
  padding-bottom: 1.5194444444vw;
  width: 85.2083333333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(-1.25deg);
  gap: 3.3333333333vw;
}

.specialists_menu_ol li:nth-child(2) {
  width: 31.25vw;
  /* width: 450px; */
}

.specialists_menu_ol li:nth-child(4) {
  width: 40.2777777778vw;
  /* width: 580px; */
}

.specialists_menu_a {
  min-width: 14.0277777778vw;
  display: flex;
  text-align: center;
  color: #fff;
  font-size: calc(0px + 1.5277777778vw);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.specification_wrap {
  margin-top: 12.5vw;
  position: relative;
  width: auto;
  height: 45.4861111111vw;
  background-image: url("../img/SVG/specification_bg.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.specification_h3 {
  position: absolute;
  top: -1.1805555556vw;
  left: 5.5555555556vw;
  width: 50.90277778vw;
  /* width: 733px; */
  font-size: calc(0px + 6.25vw);
  font-family: Thunder;
  font-weight: 800;
  line-height: calc(0px + 6.25vw);
  background: linear-gradient(45deg, #161616, #260046, #2a004e, #500092, #3a006a, #2a004e, #2a004e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.specification_small_wrap {
  width: 88.6111111111vw;
  height: 15.6944444444vw;
  padding-top: 25.6944444444vw;
  padding-left: 5.6944444444vw;
  display: flex;
  justify-content: space-between;
}

.specification_textblock {
  height: 15.6944444444vw;
  /* height: 226px; */
  width: 28.125vw;
  /* width: 405px; */
  /* background-image: url("../img/SVG/specification_small_bg.svg");
   background-repeat: no-repeat;
   background-size: 128.5%;
   background-position: center; */
  transform: skew(-4deg, 0deg);
  background: none;
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  gap: 0.1388888889vw;
  /* gap: 2px; */
}

.specification_small_wrap_h4 {
  padding-right: 1.736111111vw;
  /* padding-right: 25px; */
  padding-top: 2.083333333vw;
  /* padding-top: 30px; */
  padding-left: 1.736111111vw;
  /* padding-left: 25px; */
  color: #3f0173;
  font-size: calc(0px + 2.9166666667vw);
  font-family: Thunder;
  font-weight: 700;
  letter-spacing: calc(0px + 0.0583333333vw);
}

.specification_small_wrap_p {
  padding: 0.6944444444vw 1.736111111vw 0 1.736111111vw;
  /* padding: 10px 25px 0px 25px; */
  font-size: calc(0px + 1.25vw);
  color: #212121;
  font-family: Montserrat;
  line-height: calc(0px + 1.6666666667vw);
}

.specification_small_wrap_p a {
  color: #a436ff;
  font-size: calc(0px + 1.25vw);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: calc(0px + 1.6666666667vw);
  text-decoration: underline;
}

.button_list_of_specialists {
  margin-top: 3.3680555556vw;
  margin-left: 5.6944444444vw;
  width: 40vw;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  gap: 0.7638888889vw;
}

.button_list_of_specialists_text {
  color: #fff;
  font-size: calc(0px + 2.9166666667vw);
  font-family: Thunder;
  font-style: italic;
  font-weight: 700;
  letter-spacing: calc(0px + 0.0583333333vw);
  display: flex;
}

.button_list_of_specialists_img {
  width: 1.6666666667vw;
  vertical-align: auto;
}

.form_big_wrap {
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
  padding-top: 6.9444444444vw;
  display: flex;
  justify-content: space-between;
  gap: 2.2222222222vw;
}

.form_wrap_left {
  width: 43.3333333333vw;
  height: 19.2361111111vw;
  display: flex;
}

.form_h5 {
  font-size: calc(0px + 4.8611111111vw);
  font-family: Thunder;
  font-weight: 800;
  line-height: calc(0px + 4.8611111111vw);
  background: linear-gradient(45deg, #161616, #260046, #2a004e, #500092, #3a006a, #2a004e, #2a004e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.form_wrap_right {
  width: 43.3333333333vw;
  height: 19.2361111111vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  padding-left: 1.6666666667vw;
  width: 42.63888889vw;
  /* width: 614px; */
  height: 3.1944444444vw;
  /* height: 46px; */
  color: #aeaeae;
  font-size: calc(0px + 1.25vw);
  font-family: Montserrat;
  border: none;
  transform: skew(-10deg, 0deg);
  background: linear-gradient(135deg, #161616 0%, #260046 14.94%, #2a004e 37.47%, #500092 64.84%, #3a006a 100%, #2a004e 100%);
  border-radius: 0.4861111111vw;
  /* border-radius: 7px; */
  display: flex;
  outline: none;
  resize: none;
}

textarea::-moz-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

textarea::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form_buttons_wrap {
  width: 38.81944444vw;
  /* width: 559px;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.or_whith_lines {
  width: 7.638888889vw;
  /* width: 110px; */
  display: flex;
  align-items: center;
}

.line_left {
  margin-right: 0.6944444444vw;
  border-style: solid;
  border-color: #c279ff;
  border-width: 1.2px 0 0 0;
  width: 2.4305555556vw;
  display: flex;
  height: 1.2px;
}

.line_right {
  margin-left: 0.6944444444vw;
  border-style: solid;
  border-color: #c279ff;
  border-width: 1.2px 0 0 0;
  width: 2.4305555556vw;
  height: 0px;
  display: flex;
  height: 0.0833333333vw;
}

.or {
  color: #c279ff;
  font-size: calc(0px + 2.0833333333vw);
  font-family: Thunder;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: calc(0px + 0.0416666667vw);
}

button[type=submit] {
  width: 11.1805555556vw;
  height: 3.4027777778vw;
  border-radius: 3.4722222222vw;
  background: #161616;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6944444444vw;
}

.button_rocket {
  width: 1.6666666667vw;
  display: flex;
}

.button_send_p {
  margin-top: 0.2083333333vw;
  color: #fff;
  font-size: calc(0px + 2.0833333333vw);
  font-family: Thunder;
  font-weight: 700;
  letter-spacing: calc(0px + 0.0416666667vw);
  display: flex;
  font-style: normal;
  line-height: normal;
}

.whatsup_call {
  width: 17.2222222222vw;
  height: 3.4027777778vw;
  border-radius: 3.4722222222vw;
  background: #161616;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6944444444vw;
}

footer {
  padding-left: 5.5555555556vw;
  padding-right: 5.5555555556vw;
  margin-top: 2.9166666667vw;
  height: 17.9861111111vw;
  background: url(../img/SVG/footer_bg.svg) 1.7361111111vw 2.7777777778vw/97.1527777778% auto no-repeat, url(../img/SVG/footer_bg_2.svg) 0 0/100% auto no-repeat;
  position: relative;
}

.footer_logo {
  margin-top: 5.4166666667vw;
  width: 13.2638888889vw;
  height: 3.5416666667vw;
  height: auto;
}

.footer_social {
  width: 12.7777777778vw;
  height: 1.6666666667vw;
  padding-top: 1.9444444444vw;
  display: flex;
  gap: 1.1111111111vw;
}

.footer_mainmenu {
  position: absolute;
  top: 7.0138888889vw;
  left: 25.2777777778vw;
  width: 19.3055555556vw;
  color: #fff;
  font-size: calc(0px + 1.3888888889vw);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2222222222vw;
}

.footer_policies {
  position: absolute;
  top: 10.0694444444vw;
  left: 25.2777777778vw;
  width: 25.4166666667vw;
  color: #fff;
  font-size: calc(0px + 1.25vw);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.1944444444vw;
}

.footer_copyright_p {
  position: absolute;
  width: 27.2222222222vw;
  bottom: 3.0555555556vw;
  left: 36.3888888889vw;
  color: #fff;
  text-align: center;
  font-size: calc(0px + 1.1111111111vw);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_contactUs_button_a {
  position: absolute;
  right: 4.9305555556vw;
  bottom: 5.9722222222vw;
  width: 12.9861111111vw;
  height: 3.2638888889vw;
}

.footer_contactUs_button {
  width: 12.9861111111vw;
  height: 3.2638888889vw;
  border-radius: 3.4722222222vw;
  border: none;
  background: #9df850;
  color: #000;
  font-size: calc(0px + 1.3888888889vw);
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: calc(0px + 0.0138888889vw);
}

/* Применяет стили к элементам, когда размер экрана находится в диапазоне от 320px до 767px */
@media only screen and (min-width: 300px) and (max-width: 767px) {
  a:link {
    text-decoration: none;
    color: #ffffff;
  }
  a:active {
    text-decoration: none;
    color: #ffffff;
  }
  a:visited {
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  .header_wrap {
    padding-top: 2.666666667vw;
    padding-left: 5.333333333vw;
    padding-right: 5.333333333vw;
    margin-top: 10.93333333vw;
    height: 13.86666667vw;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 28vw;
    height: auto;
    display: flex;
    background-image: url(../img/SVG/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    flex-shrink: 0;
  }
  .mainmenu {
    display: none;
  }
  .social {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.266666667vw;
  }
  .social_ico {
    width: 6.4vw;
    height: 6.4vw;
  }
  h1 {
    padding-left: 6.133333333vw;
    padding-top: 37.6vw;
    font-family: "Thunder";
    font-style: normal;
    font-weight: 800;
    line-height: 18.66666667vw;
    font-size: calc(0px + 18.6666666667vw);
    color: #ffffff;
  }
  h2 {
    position: absolute;
    width: 80vw;
    top: 130.9333333vw;
    left: 17.33333333vw;
    font-size: calc(0px + 16vw);
    font-family: Thunder;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(101.39deg, rgb(22, 22, 22) 0%, rgb(38, 0, 70) 10.855409503%, rgb(42, 0, 78) 24.1049766541%, rgb(80, 0, 146) 41.9085681438%, rgb(58, 0, 106) 70.6394255161%, rgb(42, 0, 78) 88.5698199272%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .highlight {
    color: #161616;
    background-image: url("../img/mobileSVG/mobile_digitalHeroes_bg.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: 87.73333333vw 21.06666667vw;
    background-position: auto;
    line-height: 21.06666667vw;
  }
  .wrap {
    margin-top: -27.46666667vw;
    height: 137.6vw;
    background: url(../img/mobileSVG/mobile_underhedder_bg1.svg) 0 0/100% auto no-repeat, url(../img/mobileSVG/mobile_underhedder_bg2.svg) 0 0/100% auto no-repeat;
  }
  .specialists_wrap {
    overflow-x: auto;
    /* white-space: nowrap; */
    margin-top: 45.33333333vw;
    width: 100%;
    height: 137px;
    /* display: flex; */
  }
  div::-webkit-scrollbar {
    /* width: 90vw; */
    height: 10px;
  }
  div::-webkit-scrollbar-thumb {
    background-color: #3f0173;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-track {
    padding: 10px;
    height: 3px;
    border-radius: 6px;
    background-color: #c279ff;
  }
  .specialists_menu {
    width: 1280px;
    height: 127px;
    background: url(../img/SVG/specialist_menu_bg1.svg) 0 0/100% auto no-repeat, url(../img/SVG/specialist_menu_bg2.svg) 0 0/100% auto no-repeat;
    display: flex;
  }
  .specialists_menu_ol {
    /* padding-left: calc(100vw * 0.0715277777777778); */
    padding-left: 30px;
    /* padding-bottom: calc(100vw * 0.0151944444444444); */
    padding-top: 22px;
    /* width: calc(100vw * 0.8520833333333333); */
    width: 1227px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-1.25deg);
    /* gap: calc(100vw * 0.0333333333333333); */
    gap: 48px;
  }
  .specialists_menu_ol li:nth-child(2) {
    /* width: calc(100vw * 0.3125); */
    width: 450px;
  }
  .specialists_menu_ol li:nth-child(4) {
    /* width: calc(100vw * 0.4027777777777778); */
    width: 580px;
  }
  .specialists_menu_a {
    /* min-width: calc(100vw * 0.1402777777777778); */
    min-width: 202px;
    display: flex;
    text-align: center;
    color: #fff;
    /* font-size: calc(0px + 22 * (100vw / 1440)); */
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .specification_wrap {
    margin-top: 13.33333333vw;
    /* margin-top: 50px; */
    position: relative;
    width: auto;
    height: 288.8vw;
    /* height: 1083px; */
    background-image: url("../img/mobileSVG/mobile_specification_bg.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .specification_h3 {
    position: absolute;
    top: -5.866666667vw;
    /* top: -22px; */
    left: 2.666666667vw;
    /* left: 10px; */
    width: 67.46666667vw;
    /* width: 253px; */
    font-size: calc(0px + 11.2vw);
    font-family: Thunder;
    font-weight: 800;
    line-height: calc(0px + 11.2vw);
    background: linear-gradient(45deg, #161616, #260046, #2a004e, #500092, #3a006a, #2a004e, #2a004e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .specification_small_wrap {
    width: 94.66666667vw;
    /* width: 355px; */
    height: 209.6vw;
    /* height: 786px; */
    padding-top: 66.13333333vw;
    /* padding-top: 248px; */
    padding-left: 2.666666667vw;
    /* padding-left: 10px; */
    padding-right: 2.666666667vw;
    /* padding-right: 10px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* gap: calc(100vw * 0.08); */
    /* gap: 30px; */
  }
  .specification_textblock {
    margin-left: 2.666666667vw;
    /* padding-left: 10px; */
    height: 60.26666667vw;
    /* height: 226px; */
    width: 90.13333333vw;
    /* width: 338px; */
    transform: skew(-4deg, 0deg);
    background: none;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .specification_small_wrap div:nth-child(3) {
    margin-left: 2.666666667vw;
    /* padding-left: 10px; */
    height: 73.06666667vw;
    /* height: 274px; */
    width: 90.13333333vw;
    /* width: 338px; */
    transform: skew(-4deg, 0deg);
    background: none;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  .specification_small_wrap_h4 {
    padding-top: 8vw;
    /* padding-top: 30px; */
    padding-left: 5.066666667vw;
    /* padding-left: 19px; */
    /* padding-right: calc(100vw * 0.05333333333); */
    /* padding-right: 20px; */
    color: #3f0173;
    font-size: calc(0px + 11.2vw);
    font-family: Thunder;
    /* font-style: italic; */
    font-weight: 700;
    letter-spacing: calc(0px + 0.224vw);
  }
  .specification_small_wrap_p {
    padding: 4.266666667vw 5.066666667vw 0px 5.066666667vw;
    /* padding: 16px 19px 0px 19px; */
    font-size: calc(0px + 4.2666666667vw);
    color: #212121;
    font-family: Montserrat;
    line-height: calc(0px + 6.4vw);
  }
  .specification_small_wrap_p a {
    color: #a436ff;
    font-size: calc(0px + 4.8vw);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: calc(0px + 6.4vw);
    text-decoration: underline;
  }
  .form_big_wrap {
    padding-left: 2.666666667vw;
    /* padding-left: 10px; */
    padding-right: 2.666666667vw;
    /* padding-right: 10px; */
    padding-top: 13.33333333vw;
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
  }
  .form_wrap_left {
    width: 94.66666667vw;
    /* width: 355px; */
    height: 33.6vw;
    /* height: 126px; */
    display: flex;
  }
  .form_h5 {
    font-size: calc(0px + 11.2vw);
    font-family: Thunder;
    font-weight: 800;
    line-height: calc(0px + 11.2vw);
    background: linear-gradient(45deg, #161616, #260046, #2a004e, #500092, #3a006a, #2a004e, #2a004e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .form_wrap_right {
    padding-top: 8vw;
    /* padding-top: 30px; */
    width: 94.66666667vw;
    /* width: 355px; */
    height: 105.0666667vw;
    /* height: 394px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  input {
    padding-left: 4.266666667vw;
    /* padding-left: 16px; */
    width: 89.33333333vw;
    /* width: 335px; */
    height: 12.26666667vw;
    /* height: 46px; */
    color: #aeaeae;
    font-size: calc(0px + 4.8vw);
    font-family: Montserrat;
    border: none;
    /* background: url(../img/SVG/form_input_bg.svg);
      background-repeat: no-repeat;
      background-size: 96% 100%; */
    transform: skew(-10deg, 0deg);
    border-radius: 1.866666667vw;
    /* border-radius: 7px; */
    background: linear-gradient(120deg, #161616 0%, #260046 14.94%, #2a004e 37.47%, #500092 64.84%, #3a006a 100%, #2a004e 100%);
    display: flex;
    outline: none;
  }
  textarea {
    padding-left: 4.266666667vw;
    /* padding-left: 16px; */
    width: 89.33333333vw;
    /* width: 335px; */
    height: 20.26666667vw;
    /* height: 76px; */
    resize: none;
    color: #aeaeae;
    font-size: calc(0px + 4.8vw);
    font-family: Montserrat;
    border: none;
    transform: skew(-10deg, 0deg);
    border-radius: 1.866666667vw;
    /* border-radius: 7px; */
    background: linear-gradient(120deg, #161616 0%, #260046 14.94%, #2a004e 37.47%, #500092 64.84%, #3a006a 100%, #2a004e 100%);
    display: flex;
    outline: none;
    resize: none;
  }
  textarea::-moz-placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  textarea::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .form_buttons_wrap {
    width: 94.66666667vw;
    /* width: 355px; */
    height: 44.26666667vw;
    /* height: 166px; */
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .or_whith_lines {
    width: 29.33333333vw;
    /* width: 110px; */
    display: flex;
    align-items: center;
  }
  .line_left {
    margin-right: 2.666666667vw;
    border-style: solid;
    border-color: #c279ff;
    border-width: 1.2px 0 0 0;
    width: 9.333333333vw;
    display: flex;
    height: 1.2px;
  }
  .line_right {
    margin-left: 2.666666667vw;
    border-style: solid;
    border-color: #c279ff;
    border-width: 1.2px 0 0 0;
    width: 9.333333333vw;
    display: flex;
    height: 0.0833333333vw;
  }
  .or {
    color: #c279ff;
    font-size: calc(0px + 8vw);
    font-family: Thunder;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: calc(0px + 0.16vw);
  }
  button[type=submit] {
    width: 42.93333333vw;
    /* width: 161px; */
    height: 13.06666667vw;
    /* height: 49px; */
    border-radius: 13.33333333vw;
    /* border-radius: 50px; */
    background: #161616;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.666666667vw;
    /* gap: 10px; */
  }
  .button_rocket {
    width: 6.4vw;
    /* width: 24px; */
    display: flex;
  }
  .button_send_p {
    margin-top: 0.8vw;
    /* margin-top: 3px; */
    color: #fff;
    font-size: calc(0px + 8vw);
    font-family: Thunder;
    font-weight: 700;
    letter-spacing: calc(0px + 0.16vw);
    display: flex;
    font-style: normal;
    line-height: normal;
  }
  .whatsup_call {
    width: 66.13333333vw;
    /* width: 248px; */
    height: 13.06666667vw;
    /* height: 49px; */
    border-radius: 13.33333333vw;
    /* border-radius: 50px; */
    background: #161616;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.666666667vw;
    /* gap: 10px; */
  }
  footer {
    padding-left: 0;
    /* padding-left: 0; */
    padding-right: 0;
    /* padding-right: 0; */
    margin-top: 13.33333333vw;
    /* margin-top: 50px; */
    height: 126.6666667vw;
    /* height: 475px; */
    width: 100vw;
    /* width: 375px; */
    background: url(../img/mobileSVG/mobile_footer_bg.svg) 50% 50%/94% auto no-repeat, url(../img/mobileSVG/mobile_footer_bg_2.svg) 0 0/101% auto no-repeat;
    position: relative;
  }
  .footer_logo {
    margin-top: 16vw;
    /* margin-top: 60px; */
    padding-left: 36vw;
    /* margin-top: 135px; */
    width: 28vw;
    /* width: 105px; */
    height: 7.733333333vw;
    /* height: 29px; */
    height: auto;
  }
  .footer_social {
    width: 49.06666667vw;
    /* width: 184px; */
    height: 6.4vw;
    /* height: 24px; */
    padding-top: 8vw;
    /* padding-top: 30px; */
    padding-left: 25.6vw;
    /* padding-left: 96px; */
    display: flex;
    gap: 4.266666667vw;
    /* gap: 16px; */
  }
  .footer_mainmenu {
    position: absolute;
    top: 46.13333333vw;
    /* top: 173px; */
    left: 14.66666667vw;
    /* left: 55px; */
    width: 70.93333333vw;
    /* width: 266px; */
    color: #fff;
    font-size: calc(0px + 5.3333333333vw);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.333333333vw;
    /* gap: 20px; */
  }
  .footer_policies {
    position: absolute;
    top: 60.53333333vw;
    /* top: 227px; */
    left: 14.66666667vw;
    /* left: 55px; */
    width: 53.33333333vw;
    /* width: 200px; */
    color: #fff;
    font-size: calc(0px + 4.8vw);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    gap: 5.333333333vw;
    /* gap: 20px; */
    flex-direction: column;
    align-items: baseline;
  }
  .footer_copyright_p {
    position: absolute;
    width: 56vw;
    /* width: 210px; */
    bottom: 11.46666667vw;
    /* bottom: 43px; */
    left: 22.13333333vw;
    /* left: 83px; */
    color: #fff;
    text-align: center;
    font-size: calc(0px + 3.7333333333vw);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer_contactUs_button_a {
    position: absolute;
    right: 25.06666667vw;
    /* right: 94px; */
    bottom: 28.53333333vw;
    /* bottom: 107px; */
    width: 49.86666667vw;
    /* width: 187px; */
    height: 12.53333333vw;
    /* height: 47px; */
  }
  .footer_contactUs_button {
    width: 49.86666667vw;
    /* width: 187px; */
    height: 12.53333333vw;
    /* height: 47px; */
    border-radius: 13.33333333vw;
    /* border-radius: 50px; */
    border: none;
    background: #9df850;
    color: #000;
    font-size: calc(0px + 5.3333333333vw);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: calc(0px + 0.0533333333vw);
  }
}
.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.slider-item.active {
  display: block;
}

.slider-nav {
  text-align: center;
  margin-top: 10px;
}

.slider-nav button {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
}