@charset "UTF-8";
:root {
  --padding-left-and-right: 5.55555555555556vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.4s;
}
header_header-wrap {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  position: relative;
  display: inline-block;
  /* Нужно для абсолютного позиционирования псевдоэлемента */
  text-decoration: none;
}
.logo-link p {
  transition: color 0.5s;
  /* Добавляем CSS transition для плавного изменения цвета шрифта */
}
.logo-link :hover {
  color: #9DF850;
  /* Изменяем цвет шрифта при наведении */
}

.logo {
  margin: 15px 0 0 var(--padding-left-and-right);
  min-height: 51px;
  min-width: 191px;
  display: flex;
}
.logo_img {
  margin: 0 0 1px 0;
  display: flex;
  align-items: start;
}
.logo .all-logo-words {
  margin: 8px 0 -2px 9px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  line-height: normal;
  font-style: normal;
  font-family: Raleway;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
}
.logo .all-logo-words .webyou-words {
  display: flex;
  gap: 6px;
}
.logo .all-logo-words .web-word {
  display: flex;
}
.logo .all-logo-words .you-word {
  display: flex;
  font-weight: 800;
}
.logo .all-logo-words .digitalagency-words {
  display: flex;
  font-size: 14px;
  white-space: nowrap;
}

.main-menu {
  display: flex;
}

.social {
  display: flex;
}
.social .social-ico {
  display: flex;
}

.under-p-wrap {
  padding: 9.7222222222vw 1.1111111111vw 16.3888888889vw 1.1111111111vw;
  min-height: 22.9166666667vw;
  background-image: url(../img/SVG/underhedder_bg3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  z-index: 1;
  position: relative;
}
.under-p-wrap .under-p-words-block p {
  margin: 2.9513888889vw var(--padding-left-and-right) 0 var(--padding-left-and-right);
  padding: 0 0 0 0;
  color: #FFF;
  font-family: Thunder;
  font-size: calc(0px + 9.7222222222vw);
  font-style: normal;
  font-weight: 800;
  line-height: 12.6736111111vw;
}
.under-p-wrap .under-p-words-block .outerblock {
  margin: 0 1.9444444444vw 0 1.9444444444vw;
  /*Вот тут маржином можно изменить размеры зелёного блока за текстом! */
  border-radius: 1.0416666667vw;
  background-color: #9DF850;
  transform: skew(-8deg, 0deg);
  display: inline-block;
}
.under-p-wrap .under-p-words-block .outerblock p {
  margin: -1.3888888889vw 3.6111111111vw -1.3888888889vw 3.6111111111vw;
  padding: 0.9027777778vw 0 0 0;
  color: #161616;
  transform: skew(8deg, 0deg);
}