@charset "UTF-8";
:root {
  --padding-left-and-right: 5.55555555555556vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 0 0 0 var(--padding-left-and-right);
  min-height: 51px;
  min-width: 191px;
  display: flex;
}
.logo_img {
  margin: 0 0 1px 0;
  display: flex;
  align-items: start;
}
.logo .logo-link {
  display: flex;
  position: relative;
  /* Нужно для абсолютного позиционирования псевдоэлемента */
  text-decoration: none;
}
.logo .logo-link p {
  transition: color 0.5s;
  /* Добавляем CSS transition для плавного изменения цвета шрифта */
}
.logo .logo-link :hover {
  color: #9df850;
  /* Изменяем цвет шрифта при наведении */
}
.logo .all-logo-words {
  margin: 8px 0 -2px 9px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  line-height: normal;
  font-style: normal;
  font-family: Raleway;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
.logo .all-logo-words .webyou-words {
  display: flex;
  gap: 6px;
}
.logo .all-logo-words .web-word {
  display: flex;
}
.logo .all-logo-words .you-word {
  display: flex;
  font-weight: 800;
}
.logo .all-logo-words .digitalagency-words {
  margin: 3px 0 0 0;
  display: flex;
  font-size: 14px;
  white-space: nowrap;
}

.main-menu {
  display: flex;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-menu :hover {
  color: #9df850;
}
.main-menu ol {
  display: flex;
  gap: 2.2222222222vw;
}
.main-menu ol li {
  display: flex;
}
.main-menu ol li a {
  display: flex;
  text-decoration: none;
  position: relative;
  /* Нужно для абсолютного позиционирования псевдоэлемента */
  transition: color 0.5s;
  /* Добавляем CSS transition для плавного изменения цвета шрифта */
  color: #fff;
}

.language-and-social-combined-wrapper {
  padding: 0 var(--padding-left-and-right) 0 0;
  display: flex;
  gap: 2.7777777778vw;
}

.language-switch-menu {
  display: flex;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.language-switch-menu :hover {
  color: #9df850;
}
.language-switch-menu ol {
  display: flex;
  gap: 5px;
}
.language-switch-menu ol .first-li :after {
  color: #fff;
  content: "/";
  margin: 0 0 0 5px;
  pointer-events: none; /* Отключаем события указателя для предотвращения кликов */
}
.language-switch-menu ol li {
  display: flex;
}
.language-switch-menu ol li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  position: relative;
  /* Нужно для абсолютного позиционирования псевдоэлемента */
  transition: color 0.5s;
  /* Добавляем CSS transition для плавного изменения цвета шрифта */
}
.language-switch-menu ol li .language-switch-menu-active-link {
  display: flex;
  text-decoration: none;
  color: #9df850;
  position: relative;
  /* Нужно для абсолютного позиционирования псевдоэлемента */
  transition: color 0.5s;
  /* Добавляем CSS transition для плавного изменения цвета шрифта */
}

.social-links {
  min-width: 140px;
  display: flex;
  gap: 1.3888888889vw;
}
.social-links button :hover svg path {
  fill: #9df850;
}
.social-links button {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  width: 24px;
  height: 24px;
  fill: #fff;
  display: flex;
  text-decoration: none;
  position: relative;
  /* Нужно для абсолютного позиционирования псевдоэлемента */
  transition: fill 0.5s;
  /* Добавляем CSS transition для плавного изменения цвета шрифта */
}

.banner-outer-cover {
  padding: 0 0 4.8611111111vw 0;
  border-radius: 0 0 3.1944444444vw 5.1388888889vw;
  position: relative;
  background-color: #C279FF;
  transform: skew(0deg, -11deg);
  transform-origin: left top;
}

.banner-inner-cover {
  transform: skew(0deg, 11deg);
  transform-origin: left top;
}

.under-p-wrap {
  padding: 8.3333333333vw 0 10.8333333333vw 0;
  min-height: 22.9166666667vw;
  border-radius: 0 0 3.4722222222vw 4.8611111111vw;
  background: linear-gradient(180deg, #161616 0%, #260046 32.29%, #2A004E 52.29%, #500092 73.65%, #3A006A 100%, #2A004E 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  z-index: 1;
  position: relative;
  transform: skew(0deg, -9deg);
  transform-origin: left top;
}
.under-p-wrap .under-p-words-block span {
  display: block;
  margin: 0 var(--padding-left-and-right) 0 var(--padding-left-and-right);
  padding: 1.1805555556vw 0 0 0;
  color: #fff;
  font-family: Thunder;
  font-size: calc(0px + 9.7222222222vw);
  font-style: normal;
  font-weight: 800;
  line-height: 11.5972222222vw;
  transform: skew(0deg, 9deg);
  transform-origin: left top;
}
.under-p-wrap .under-p-words-block .outerblock {
  margin: 0 var(--padding-left-and-right) 0 var(--padding-left-and-right);
  color: #161616;
  font-family: Thunder;
  font-size: calc(0px + 9.7222222222vw);
  font-style: normal;
  font-weight: 800;
  position: relative;
  line-height: 11.4583333333vw;
  display: inline-block;
}
.under-p-wrap .under-p-words-block .outerblock::before {
  content: "";
  border-radius: 1.0416666667vw 1.7361111111vw 1.0416666667vw 1.7361111111vw;
  background-color: #9df850;
  transform: skew(-14deg, 0deg);
  display: block;
  position: absolute;
  top: 1.25vw;
  left: -3.1944444444vw;
  right: -3.1944444444vw;
  bottom: 0.5555555556vw;
  background-color: #9df850;
  z-index: -1; /* Устанавливаем z-index на -1, чтобы псевдоэлемент оказался под текстом */
}