/* Webfont: Thunder-ExtraBoldLCItalic */
@font-face {
  font-family: "ThunderExtBdIta";
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-ExtraBoldLCItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-ExtraBoldLCItalic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-ExtraBoldLCItalic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-ExtraBoldLCItalic.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-ExtraBoldLCItalic.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Thunder-BoldLC */
@font-face {
  font-family: "Thunder";
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLC.eot"); /* IE9 Compat Modes */
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLC.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLC.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLC.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLC.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: Thunder-BoldLCItalic */
@font-face {
  font-family: "ThunderIta";
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLCItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLCItalic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLCItalic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLCItalic.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-BoldLCItalic.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: Thunder-SemiBoldLCItalic */
@font-face {
  font-family: "ThunderSemBdIta";
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-SemiBoldLCItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-SemiBoldLCItalic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-SemiBoldLCItalic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-SemiBoldLCItalic.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("../fonts/THUNDER/THUNDER/Fonts/Web-TT/Thunder-SemiBoldLCItalic.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}

.header_wrap {
  width: 88%;
  margin-left: 5.5%;
  height: calc(100vw * 0.0555555555555556);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: calc(100vw * 0.1326388888888889);
  height: auto;
  display: flex;
  background-image: url(../img/SVG/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  flex-shrink: 0;
}

.mainmenu {
  /* min-width: 278px; */
  height: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: calc(6px + 18 * (100vw / 1440));
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-shrink: 0; */
  gap: calc(100vw * 0.0222222222222222);
}

.social {
  /* min-width: 184px; */
  /* width: calc(100vw * 0.1277777777777778); */
  height: auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(100vw * 0.0111111111111111);
}

a {
  /* width: calc(100vw * 0.0166666666666667);  */
  height: calc(100vw * 0.0166666666666667);  
  text-decoration: none;
}

h1 {
  padding-left: calc(100vw * 0.0155555555555556);
  padding-top: calc(100vw * 0.1111111111111111);
  font-family: "Thunder";
  font-style: normal;
  font-weight: 800;
  line-height: 1;
  font-size: calc(0px + 160 * (100vw / 1440));
  color: #ffffff;
}

h2 {
  position: absolute;
  top: calc(100vw * 0.5701388888888889);
  left: calc(100vw * 0.3590277777777778);
  font-size: calc(0px + 130 * (100vw / 1440));
  font-family: Thunder;
  font-weight: 800;
  background: linear-gradient(45deg, #161616, #260046, #2A004E, #500092, #3A006A, #2A004E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.highlight {
  color: #161616;
  background-image: url("../img/SVG/digitalHeroes_bg.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: calc(100vw * 0.5395833333333333) calc(100vw * 0.125);
  background-position: auto;
  line-height: calc(100vw * 0.125);
}

.wrap {
  margin-top: calc(100vw * 0.0555555555555556 * (-1));
  height: calc(100vw * 0.6666666666666667);
  width: auto;
  background: url(../img/SVG/underhedder_bg1.svg) 0 0/100% auto no-repeat,
    url(../img/SVG/underhedder_bg2.svg) 0 0/100% auto no-repeat;
}

.specialists_menu_wrap {
  height: calc(100vw * 0.1145833333333333);
  width: auto;
  /* margin-left: 0.5%; */
  margin-top: calc(100vw * 0.0809090909090909);  
  /* position: relative; */
}

.specialists_menu_p {
  margin-left: calc(100vw * 0.0555555555555556);
  font-family: Thunder;
  font-size: calc(16px + 20 * (100vw / 1440));
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: left;
  position: relative;
  top: 10px;
}

.specialists_menu {
  /* position: relative; */
  width: auto;
  height: calc(100vw * 0.0979166666666667);
  background: url(../img/SVG/specialist_menu_bg1.svg) 0 0/100% auto no-repeat,
    url(../img/SVG/specialist_menu_bg2.svg) 0 0/100% auto no-repeat;
    display: flex;
}

.specialists_menu_ol {
  padding-left: calc(100vw * 0.0645833333333333);
  padding-bottom: calc(100vw * 0.0151944444444444);
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: calc(100vw * 0.8847222222222222);
  transform: rotate(-1.25deg);
  
  gap: calc(100vw * 0.0208333333333333);
}

.specialists_menu_a {  
  color: #FFF;
  font-size: calc(0px + 19 * (100vw / 1440));
  font-family: Montserrat;
  font-weight: 500;
  display: flex;
}

.specification_wrap {
  margin-top: calc(100vw * 0.125);
  position: relative;
  width: auto;
  height: calc(100vw * 0.5104166666666667);
  background-image: url("../img/SVG/specification_bg.svg");
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.specification_h3 {
  position: absolute;
  top: calc(100vw * 0.0118055555555556 * -1);
  left: calc(100vw * 0.0555555555555556);
  font-size: calc(0px + 90 * (100vw / 1440));
  font-family: Thunder;
  font-weight: 800;
  line-height: calc(0px + 90 * (100vw / 1440));
  background: linear-gradient(45deg, #161616, #260046, #2A004E, #500092, #3A006A, #2A004E, #2A004E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.specification_small_wrap {
  width: calc(100vw * 0.8861111111111111);
  height: calc(100vw * 0.1569444444444444);
  padding-top: calc(100vw * 0.2569444444444444);
  margin-left: calc(100vw * 0.0569444444444444);
  display: flex;
  justify-content: space-between;
}

.specification_textblock {
  height: calc(100vw * 0.1569444444444444);
  width: calc(100vw * 0.2923611111111111);
  background-image: url("../img/SVG/specification_small_bg.svg");
  background-repeat: no-repeat;
  background-size: 128.5%;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.specification_small_wrap_h4 {
  margin-top: calc(100vw * 0.0208333333333333);
  margin-left: calc(100vw * 0.0263888888888889);
  color: #3F0173;
  font-size: calc(0px + 42 * (100vw / 1440));
  font-family: Thunder;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.84px;
}

.specification_small_wrap_p {
  margin: auto calc(100vw * 0.0263888888888889) auto calc(100vw * 0.0263888888888889);
  font-size: calc(0px + 18 * (100vw / 1440));
  color: #212121;
  font-family: Montserrat;
  line-height: calc(0px + 24 * (100vw / 1440));;
}

.button_list_of_specialists {
  margin-top: calc(100vw * 0.0336805555555556);
  margin-left: calc(100vw * 0.0569444444444444);
  width: calc(100vw * 0.4);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  gap: calc(100vw * 0.0076388888888889);
}

.button_list_of_specialists_text {
  color: #FFF;
  font-size: calc(0px + 42 * (100vw / 1440));
  font-family: Thunder;
  font-style: italic;
  font-weight: 700;
  letter-spacing: calc(0px + 0.84 * (100vw / 1440));
  display: flex;
}

.button_list_of_specialists_img {
  width: calc(100vw * 0.0166666666666667);
  vertical-align: auto;
}

.form_big_wrap {
  padding-left: calc(100vw * 0.0555555555555556);
  padding-right: calc(100vw * 0.0555555555555556);
  padding-top: calc(100vw * 0.08125);
  display: flex;  
}

.form_wrap_left {  
  width: calc(100vw * 0.4819444444444444);
  height: calc(100vw * 0.1923611111111111);
  display: flex;
}

.form_h5 {
  padding-right: calc(100vw * 0.0291666666666667);  
  font-size: calc(0px + 70 * (100vw / 1440));
  font-family: Thunder;
  font-weight: 800;
  line-height: calc(0px + 70 * (100vw / 1440));
  background: linear-gradient(45deg, #161616, #260046, #2A004E, #500092, #3A006A, #2A004E, #2A004E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.form_wrap_right {
  /* margin-top: calc(100vw * 0.08125); */
  height: calc(100vw * 0.1923611111111111);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  /* margin-left: calc(100vw * 0.0291666666666667); */
  /* margin-right: calc(100vw * 0.0555555555555556); */
  /* margin-top: calc(100vw * 0.0104166666666667); */
  /* margin-bottom: calc(100vw * 0.0104166666666667); */
  padding-left: calc(100vw * 0.0166666666666667);
  width: calc(100vw * 0.4333333333333333);
  height: calc(100vw * 0.0319444444444444);
  color: #AEAEAE;
  font-size: calc(0px + 18 * (100vw / 1440));
  font-family: Montserrat;
  border: none;
  background: url(../img/SVG/form_input\ bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  outline: none;
}

button[type="submit"] {
  /* margin-top: calc(100vw * 0.0104166666666667); */
  width: calc(100vw * 0.1118055555555556);
  height: calc(100vw * 0.0340277777777778);
  border-radius: 50px;
  background: #161616;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(100vw * 0.0069444444444444);
}

.button_rocket {
  margin-bottom: calc(100vw * 0.0020833333333333);
  width: calc(100vw * 0.0166666666666667);
  display: flex;
}

.button_send_p {
  color: #FFF;
  font-size:  calc(0px + 30 * (100vw / 1440));
  font-family: Thunder;
  font-weight: 700;
  letter-spacing:  calc(0px + 0.6px * (100vw / 1440));
  display: flex;
}

footer {
  padding-left: calc(100vw * 0.05555555555555);
  padding-right: calc(100vw * 0.05555555555555);
  margin-top: calc(100vw * 0.0291666666666667);
  /* width: calc(100vw * 0.9715277777777778); */
  height: calc(100vw * 0.1798611111111111);
  background: url(../img/SVG/footer_bg.svg) calc(100vw * 0.0173611111111111) calc(100vw * 0.0277777777777778)/97.15277777777778% auto no-repeat,
    url(../img/SVG/footer_bg_2.svg) 0 0/100% auto no-repeat;
    position: relative;
}

.footer_logo {
  margin-top: calc(100vw * 0.0541666666666667);
  width: calc(100vw * 0.1326388888888889);
  height: auto;  
}

.footer_social {
  width: calc(100vw * 0.1277777777777778);
  margin-top: calc(100vw * 0.0208333333333333);
  display: flex;
  gap: calc(100vw * 0.0111111111111111);
}

.footer_mainmenu {
  position: absolute;
  top: calc(100vw * 0.0701388888888889);
  left: calc(100vw * 0.2527777777777778);
  width: calc(100vw * 0.1930555555555556);
  color: #FFF;
  font-size: calc(0px + 20 * (100vw / 1440));
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(100vw * 0.0222222222222222);  
}

.footer_policies {
  position: absolute;
  top: calc(100vw * 0.1006944444444444);
  left: calc(100vw * 0.2527777777777778);
  width: calc(100vw * 0.2541666666666667);
  color: #FFF;
  font-size: calc(0px + 18 * (100vw / 1440));
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(100vw * 0.0319444444444444); 
}

.footer_copyright_p {
  position: absolute;
  width: calc(100vw * 0.2722222222222222);
  bottom: calc(100vw * 0.0305555555555556);
  left: calc(100vw * 0.3638888888888889);
  color: #FFF;
  text-align: center;
  font-size: calc(0px + 16 * (100vw / 1440));
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}