:root {
	--padding-left-and-right: 5.55555555555556vw;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: transparent;
	transition: background-color .4s;

	&_header-wrap {
		min-height: 80px;
		
	}
}

.logo {
	margin:15px 0 0 var(--padding-left-and-right);
	min-height: 51px;
	min-width: 191px;
	display: flex;
	flex-shrink: 1;

	&_img {
		margin: 0 0 1px 0;
		display: flex;
		align-items: start;
	}
}

.all-logo-words {
	margin: 8px 0 -2px 9px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.webyou-words {
	display: flex;}

.web-word {
	display: flex;
	color: #FFF;
	font-family: Raleway;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.you-word {
	display: flex;
	color: #FFF;
	font-family: Raleway;
	font-size: 22px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.digitalagency-words {
	display: flex;
	color: #FFF;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
}

.main-menu {}

.social {
	display: flex;
	margin: 0 var(--padding-left-and-right) 0 0;
}

.social-ico {}

.under-p-wrap {
	padding: 9.72222222222222vw 1.11111111111111vw 16.38888888888889vw 1.11111111111111vw;
	min-height: 22.91666666666667vw;
	background-image: url(../img/SVG/underhedder_bg3.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	z-index: 1;
	position: relative;
}

.under-p-words-block {
	p {
		margin: 2.951388888888889vw var(--padding-left-and-right) 0 var(--padding-left-and-right);
		padding: 0 0 0 0;
		color: #FFF;
		font-family: Thunder;
		font-size: calc(0px + 140 * (100vw / 1440));
		font-style: normal;
		font-weight: 800;
		line-height: 12.67361111111111vw;
		}

	.outerblock {
		margin: 0 1.94444444444444vw 0 1.94444444444444vw;
		border-radius: 1.041666666666667vw;
		background-color: #9DF850;
		transform: skew(-8deg, 0deg);
		display: inline-block;

		p {
			margin: -1.38888888888889vw 3.61111111111111vw -1.38888888888889vw 3.61111111111111vw;
			padding: 0.90277777777778vw 0 0 0;
			color: #161616;
			transform: skew(8deg, 0deg);
			}
		}	
}