:root {
	--padding-left-and-right: 5.55555555555556vw;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: transparent;
	transition: background-color .4s;

	&_header-wrap {
		min-height: 80px;
		
	}
}

.logo {
	margin:15px 0 0 var(--padding-left-and-right);
	min-height: 51px;
	min-width: 191px;
	display: flex;
	flex-shrink: 1;

	&_img {
		margin: 0 0 1px 0;
		display: flex;
		align-items: start;
	}
}

.all-logo-words {
	margin: 8px 0 -2px 9px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.webyou-words {
	display: flex;}

.web-word {
	display: flex;
	color: #FFF;
	font-family: Raleway;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.you-word {
	display: flex;
	color: #FFF;
	font-family: Raleway;
	font-size: 22px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.digitalagency-words {
	display: flex;
	color: #FFF;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
}

.main-menu {}

.social {
	display: flex;
	margin: 0 var(--padding-left-and-right) 0 0;
}

.social-ico {}

.under-h1wrap {
	min-height: 22.91666666666667vw;
	background-image: url(../img/SVG/underhedder_bg3.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	// background-position: 100% -550px, 100% -810px;
	z-index: 1;
	position: relative;

	h1{
		margin: 0 var(--padding-left-and-right) 0 var(--padding-left-and-right);
		padding: 140px 0 277px 0;
		color: #FFF;
		font-family: Thunder;
		font-size: 140px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
}

.highlight {}

.specialists-wrap {}

.specialists-menu {}

.specialists-menu-ol {}

.specialists-menu-a {}